<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/common.css') }}">
    <script src="{{ asset('bundles/app/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
</head>

<body>
<div class="container">
    <div class="menu">
        <ul>
            <li>О компании</li>
            <li>Визы</li>
            <li>Загранпаспорта</li>
            <li>Загранпаспорта</li>
            <li>Приглашения в РФ</li>
            <li>Контакты</li>
        </ul>
    </div>
    <div class="block block-1">
        <div class="slider">
            <img src="{{ asset('bundles/app/images/slide-1.png') }}">
        </div>
        <div class="form-box form-box-1">
            <form method="POST" class="form">
                <div class="form-title">Срочно расчитать стоимость визы</div>
                <div class="row">
                    <div class="col-xs-4">
                        <input type="text" placeholder="Ваше имя" class="form-control">
                    </div>
                    <div class="col-xs-5">
                        <input type="text" placeholder="Ваш номер телефона" class="form-control">
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-orange">Узнать подробности</button>
                    </div>
                </div>
                <div class="form-comment">
                    Мы не рассылаем спам и никогда не передадим Ваши данные третьим лицам.
                </div>
            </form>
        </div>
        <br />
        <br />
        <br />
        <div class="content">
            <div class="row">
                <div class="col-md-4 col-xs-12 galery-item">
                    <img src="{{ asset('bundles/app/images/img1-1.png') }}">
                    <a href="#"><button class="btn btn-green">Подробнее</button></a>
                </div>
                <div class="col-md-4 col-xs-12 galery-item">
                    <img src="{{ asset('bundles/app/images/img1-2.png') }}">
                    <a href="#"><button class="btn btn-green">Подробнее</button></a>
                </div>
                <div class="col-md-4 col-xs-12 galery-item">
                    <img src="{{ asset('bundles/app/images/img1-3.png') }}">
                    <a href="#"><button class="btn btn-green">Подробнее</button></a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="content">
            <img src="{{ asset('bundles/app/images/air.png') }}" class="air">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 style="text-align: center">Новые правила оформления <br />шенгенских виз!</h2>
                    <p style="text-align: center">
                        14 сентября 2015 г. введена обязательная процедура<br />
                        сканирования отпечатков пальцев.<br />
                        В связи с этим каждый заявитель должен будет явиться<br />
                        на подачу документов лично в Консульство/Визовый центр, чтобы предоставить свои биометрические данные.<br />
                        1 раз в 5 лет !!!
                        <br />
                        <br />
                        <img src="{{ asset('bundles/app/images/icon1.png') }}" style="text-align: center; width: 64px">
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2 style="text-align: center">
                        Процесс сдачи отпечатков пальцев<br />
                        занимает всего несколько минут!
                    </h2>
                    <p style="text-align: center">
                        От Сдачи отпечатков освобождаются дети до 12 лет ,<br />
                        и лица, у которых физически нет возможности<br />
                        взять отпечатки пальцев.
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <img src="{{ asset('bundles/app/images/icon2.png') }}" style="text-align: center; width: 64px">
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-2">
        <div class="slider">
            <img src="{{ asset('bundles/app/images/slide-2.png') }}">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2 style="text-align: center">Новые правила оформления <br />шенгенских виз!</h2>
                        <p style="text-align: center">
                            14 сентября 2015 г. введена обязательная процедура<br />
                            сканирования отпечатков пальцев.<br />
                            В связи с этим каждый заявитель должен будет явиться<br />
                            на подачу документов лично в Консульство/Визовый центр, чтобы предоставить свои биометрические данные.<br />
                            1 раз в 5 лет !!!
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h2 style="text-align: center">
                            Процесс сдачи отпечатков пальцев<br />
                            занимает всего несколько минут!
                        </h2>
                        <p style="text-align: center">
                            От Сдачи отпечатков освобождаются дети до 12 лет ,<br />
                            и лица, у которых физически нет возможности<br />
                            взять отпечатки пальцев.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- POP UP-->
    <div class="gray"></div>
    <div class="form-box form-box-fixed">
        <form method="POST" class="form">
            <div class="form-title">Срочно расчитать стоимость визы</div>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" placeholder="Ваше имя" class="form-control">
                </div>
                <div class="col-xs-5">
                    <input type="text" placeholder="Ваш номер телефона" class="form-control">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-orange">Узнать подробности</button>
                </div>
            </div>
            <div class="form-comment">
                Мы не рассылаем спам и никогда не передадим Ваши данные третьим лицам.
            </div>
        </form>
    </div>
</div>
    <script>
        $(document).ready(function(){
           $('.gray').click(function(){
               $('.gray').fadeOut();
               $('.form-box-fixed').fadeOut();
           });
        });
    </script>
</body>
</html>
